/* CSS Grid Layout: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout */

/* Future CSS for Mobile Media Queries */
/* ... */

.container {
    background-color: aquamarine;
    height: 100vh; /* Use 100% of the view window height*/
    width: 100vw; /* Use 100% of the view window width*/
    display: grid;
    grid-template: .25fr 5fr .25fr / 1fr 4fr;
    gap: 10px; /* Spacing around grid components */
    grid-template-areas: /* Specify the template area below */
    "navbar navbar"
    "users posts"
    "footer footer"; 
}

.navbar {
    /* background-color: rgb(215, 250, 247);  */
    grid-area: navbar;
}

.users {
    background-color: rgb(164, 245, 98);
    grid-area: users;
}

.posts {
    background-color: antiquewhite;
    grid-area: posts;
}

.footer {
    background-color: rgb(105, 185, 238);
    grid-area: footer;
}

